---
layout: post-index
title: Questions, tips, and topics to consider when building your website
description: "Describe this nonsense."
tags: [web, application, tips, issues, suggestions]
comments: false
image:
  feature: stardust.png
  credit: Atle Mo
  creditlink: http://www.atlemo.com/
---

<div class="section group">
  {% assign sorted_posts = site.posts | sort:"title" %}
  {% for post in sorted_posts %}
  <div class="col span_1_of_2">
    <article class="hentry" {% if post.image.feature %}style="background-image: url({{ site.url }}/images/{{ post.image.feature }})"{% endif %}>
      <header>
        {% if post.link %}
          <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" class="permalink" rel="bookmark" title="{{ post.title }}"><i class="fa fa-bookmark"></i></a> <a href="{{ post.link }}">{{ post.title }}</a></h1>
        {% else %}
          <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a></h1>
        {% endif %}

        <div class="entry-meta">
          {% if site.reading_time %}
          <br/>
          <span class="entry-reading-time">
            <i class="fa fa-clock-o"></i>
            {% assign readtime = post.content | number_of_words | divided_by:site.words_per_minute %}
            Reading time ~{% if readtime <= 1 %}1 minute{% else %}{{ readtime }} minutes{% endif %}
          </span><!-- /.entry-reading-time -->
          {% endif %}
        </div><!-- /.entry-meta -->
      </header>
    </article><!-- /.hentry -->
  </div>
  {% endfor %}
</div>
